{% block header %}
{% for disc in disclaimer %}
    <p style="background-color:crimson; color: black; display: inline-flex; justify-content: center; align-items: center; font-size: medium; height: 2.5rem; width: 100%; margin: 0; outline: none;">{{ disc }}</p>
{% endfor %}
{% block navigation %}
<nav style="display: inline-flex; height: 4rem; max-width: 70vw; min-width: 30vw; justify-content: space-evenly; align-content: center; align-items: center; background-color: darkgray;">
    {% for target in navigation %}
        {% if viewname == target.name %}
            <a href="{{ target.link }}" style="color: crimson; font-weight: 700; padding: 1rem 2rem;">{{ target.name }}</a>
        {% else %}
            <a href="{{ target.link }}" style="color: black; font-weight: 700; padding: 1rem 2rem;">{{ target.name }}</a>
        {% endif %}
    {% endfor %}
</nav>
{% endblock %}
<h1 style="text-shadow: 2px 2px 2px crimson;">{{ appname }}</h1>
{% endblock %}